.div-logo {
    width              : 100%;
    height             : 500px;
    justify-content    : center;
    align-items        : center;
    background-position: center;
    text-align         : center;
    padding            : 10px;
    margin             : auto;
}

.logo {
    width : 400px;
    height: 400px;
}

.formulario{
    width: 80%;
    height: 700px;
    border-radius: 10px;
    border: 1px solid teal;
    align-items: center;
}

.mb-3{
    padding-left: 10px;
    padding-right: 10px;
}

.titulo-form{
    text-align: center;
    padding-block-end: 20px;
}

h1{
    color: black;
}

.columnas{
    float: left;
}

#columnas-genero{
    padding-left: 20px;
}

.div-button{
    justify-content: center;
    width: 100px;
    height: 20px;
    padding-top: 20px;
}